**Question 1: Write a Python program to count the number of elements in a list without using len.**

In [3]:
a = ['10','20','30','40','50','60','70']
count =0
for i in a:
    count=count+1
print(f'the number of elements in a list:{count}')

the number of elements in a list:7

***Question 2: Write a Python program to find the maximum and minimum values in a given list.***

In [4]:
def max_value(a):
    max_count=a[0]
    for value in a:
        if value > max_count:
            max_count=value
    return max_count

def min_value(b):
    min_count = b[0]
    for values in b:
        if values < min_count:
            min_count =values
    return min_count

mylist = [1,200,3,4,8,89,79,56,300,500]

print(f'maximun value:{max_value(mylist)}')
print(f'minimun value:{min_value(mylist)}')

maximun value:500
minimun value:1

***Question 3: Write a Python program to remove the first occurrence of a specified element from a list.***

In [8]:
a =[10,20,30,40,50,60,70,66,81,90,31]
a.remove(81)
print(a)

[10, 20, 30, 40, 50, 60, 70, 66, 90, 31]

***Question 4: Write a Python program to find the average of all the elements in a list.***

In [10]:
a = [100,200,300,400,500,600,700,800]
a = sum(a) / len(a)
print(f'find the average of all elements from list: {round(a, 2)}')

find the average of all elements from list: 450.0

***Question 5: Write a Python program to check if a list is empty or not.***

In [16]:
list1 = [10]
list2 = []

if list2:
	print("list is not empty")
else:
	print("list is empty")

list is empty

***Question 6:  Write a Python program to find the index of a specified element in a list.***

In [19]:
a = [5,23,45,67,405,68,3,6,8,9,31,200,50]
print(a.index(45))

2

***Question 7: Write a Python program to find which number is palindrome in below given list .***

In [20]:
a= [124, 521, 155,111]
def palindrome(n):
    return str(n) == str(n)[::-1]

for number in a:
    if palindrome(number):
        print(f'{number} is a palindrome')
    else:
        print(f'{number} is not a palindrome')

124 is not a palindrome
521 is not a palindrome
155 is not a palindrome
111 is a palindrome

***Question 8: Write a Python program to find the common elements between two lists.***

In [25]:
a = ['apple','banana','grapes','guava']
b = ['carrot','apple','onion','guava']
for i in a:
    if i in b:
        print(i,end=" ")

apple guava

***Question 9: Write a Python program to remove the duplicates from a list.***

In [27]:
a = ['apple','banana','grapes','guava','carrot','apple','onion','guava']
new_values=[]
[new_values.append(i) for i in a if i not in new_values]
print('duplicates data removed from list',new_values)

duplicates data removed from list ['apple', 'banana', 'grapes', 'guava', 'carrot', 'onion']

***Question 10:  Write a Python program to sort a list of strings in Ascii Order [Ascending order]***

In [29]:
a = [8,7,6,5,4,3,2,1]
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]